################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BuberDinner/FileContentIndex
/.vs/BuberDinner/DesignTimeBuild
