################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BuberDinner/FileContentIndex/bd04f624-e22b-48c6-b26c-5af0fbae9750.vsidx
/.vs/BuberDinner/FileContentIndex
/.vs/BuberDinner/DesignTimeBuild
